* {
	padding: 0;
	margin: 0;
	font-family: 'verdana', serif;
	font-size: 16px;
}

body {
	font-family: arial,verdana,sans-serif;
    color:#333333;
    font-size:13px;
    margin: 0 auto;
    background: #f5f5f5;
}

.wrap {
    margin: 0 auto;
    position: relative;
    background:#FFFFFF;
    width: 900px;
    border:10px solid #eaeaea;
}

#the_only_form { padding: 10px; vertical-align: center; }
#the_only_form .field { margin-bottom:15px; }

#the_only_form label{
	display: block;
	float: left;
	font-weight: bold;
	margin-right:10px;
	text-align: right;
	width: 200px;
	line-height: 35px;
	font-size:14px;
	cursor: pointer;
}

#the_only_form .input{
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background-color: #eaeaea;
	background: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ffffff), color-stop(1.0, #f2f2f2));
	border: 1px solid #cacaca;
	font-family: inherit;
	color: #797979;
	font-size: 15px;
	padding: 8px 10px;
	width: 300px;
	font-weight: bold;
}


#the_only_form :focus{
	-webkit-box-shadow: 0px 0px 4px #aaa;
	-moz-box-shadow: 0px 0px 4px #aaa;
	box-shadow: 0px 0px 4px #aaa;
}

#the_only_form .btn{
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	font-family: arial,verdana,sans-serif;
	background-color: #dedede;
	background: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ffffff), color-stop(1.0, #eaeaea));
	border: 1px solid #dedede;
	color: #484848;
	font-size:14px;
	font-weight: bold;
	padding: 8px 10px;
	cursor: pointer;
	margin-left:220px;
}

#the_only_form span.error { color: red; padding-left:10px; }


.footer {
	margin-top: 60px;
}

.footer ul {
	padding: 0;
	list-style-type: none;
}
